<<<<<<< HEAD
/*#####################################################################################################*/
/*Authors: Fariba Tebyanian, Kamel Chehbun, Richard Liu, Gowsigan Sritharan, and Adepoju Faderin */
/*#####################################################################################################*/
/* Format body of the page. The source of font-family was found here: https://gist.github.com/renyi/877176*/
body{
  background-color: transparent;
  font-family: "Calibri", Tahoma, Geneva, Verdana, sans-serif;
}
.topbanner {
padding: 20px 50px;
background: #fafbff;
border-bottom: 3px solid #061147;
}

#weblogo {
  max-width: 550px;
  width: 250px;
  overflow: hidden;
}
/*#######################################################################################################*/
/* Format the navbar with proper background. It shouldn't get overlapped with the body of the document. */
.topnav {
  overflow: hidden;
  background-color: #0737f4;
  border-bottom: 3px solid #061147;
  padding: 15px 30px;

}
/* Format the links insirde the navbar. It shouldn't collapse when resizing. Code ~Fariba
code source: https://stackoverflow.com/questions/30690199/how-do-i-prevent-the-line-break-on-resizing*/
#mytopnav{
  white-space:nowrap;
  text-overflow:ellipsis;
}

/* Locates the menu bar on the left of the page and text will be white. */
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

  .topnav .icon {
  display: none;
}

/* When hovering over menu items*/
.topnav a:hover {
  background-color: #061147;
  color:  #fafbff;
  text-decoration: underline;
}
/* End of formatting navbar */

/* Style the content */
.content {
  padding: 50px;
  height: 500px; 
  text-align: center;
}
/* Style the paragraph */
* {
	box-sizing: border-box; 
}
.prg {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 5px;
  text-indent: 50px;
  background-color: #1e90ff;
}

h1.title{
  color: #061147;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  }
#team-tilte{
  white-space:nowrap;
  text-overflow:ellipsis;
}
.list{
  text-indent: 50px;
}
/* To format each paragraph content in Service and Team Member pages. Code ~Fariba */
p.p {
  float: left;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 50px;
  font-size: 16pt;
}
p.d {
  text-align: right;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
}
/*######################################################################################################################################*/
/* Format the Service and team member pages in two columns left side for images and right column for text. 
I got the idea from the following website: https://www.sphericalgrape.com/gis-services.html 
Code by Fariba*/
.service {
 text-align: center;
 margin: auto;
 max-width: 60%;
 padding: 25px;
 }
/* Two unequal columns in a line */
.clm {
  padding: 15px;
  overflow:hidden;
  }
/* column to set the paragraph*/
.clmtext {
  float: right;
  text-align: left;
}

/* Formatting the images */
.image{
  float: left;
  display: block;
  max-width: 100%;
 }

/*----- HOME Page: By Kamel. Header Banner Design with two panels, the left panel containg the company's logo on the right of the slide show */

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_three_columns */
* {
    box-sizing: border-box;
}
.row img {
	width: 100%;
}

.panel1 {
    float: left;
    width: 10%;
}
.panel2 {
    float: left;
    width: 90%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*----- HOME Page: By Kamel. End of Header Banner Design------------------*/

/*----- HOME Page: By Kamel. Menu Bar Section> Media queries to stack vertically the menu bar on smaller screens
https://www.w3schools.com/html/html_responsive.asp*/

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

  
  @media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*----- HOME Page: By Kamel. End of code to stack vertically the menu bar on smaller screens

/*######################################################################################################################################*/

/* ---------- HOME PAGE: By Kamel. Footer Section with 4 panels of equal size: ---------- */
#footer {

	bottom: 0;
	width: 100%;
	background-color: #0737f4;
	color: #ffffff;
	text-align: left;
	letter-spacing: 2px;
	font-size: 12px;
	height:95px;
	clear:both;
}

.partners {
	padding-left: 110px;
}
.fpanel {
	float: left;
    width: 25%;
	font-size: 11px;
	border-right: 1px solid #1e90ff;
	padding-left: 10px;
	padding-right: 10px;

}

.fpanel h2 {
	color: #010c35;
	font-family: Georgia,serif;
	font-size: 16px;
	letter-spacing: 1.8px;
}

.fpanel1 {
    float: left;
    width: 10%;
	font-size: 11px;
	padding-left: 10px;
	padding-right: 20px;
	line-height:16px;

}
.fpanel2 {
    float: left;
    width: 10%;
	font-size: 11px;
	border-right: 1px solid #1e90ff;
	padding-left: 10px;
	padding-right: 20px;
	line-height:16px;

}


.fpanel p {
	font-size: 10px;
}

.logo a {
	text-decoration: none;
}

.logo a:hover {

  text-decoration: underline;

}
.logo {
	word-spacing: 10px;
  padding-left: 20px;
  white-space:nowrap;
  text-overflow:ellipsis;
}

a {
	color: white;
}

.pagefootermenu {
list-style-type: none;
}
/* ---------- HOME PAGE: End of Footer Section: By Kamel---------- */

/*######################################################################################################################################*/
/*-------CONTACTS PAGE: By Kamel----------*/

.cont_header {
	float: right;
	width: 40%;
}

.cont_background {
	float: left;
	width: 60%;
	padding-left:150px;
}

.containcon {
 width:100%;
}

.contact-h2 {
	line-height: 50px;
	font:25px sans-serif;
	margin-top:25px;
	margin-bottom:25px;
	font-weight: bold;

}

.contact-h3 {
	font:23px sans-serif;
	margin-top:25px;
	padding-bottom:30px;
}

form{
	border-style: none;
}

span{
	display:block;
	padding-bottom: 20px;
}

label{
	display:block;
	border-style: none;
	text-indent: -10px;
	font:20px sans-serif;
	font-style: oblique;
	padding-bottom:50px;


}
input{
	width:450px;
	height: 50px;
	font:10px sans-serif;

}
textarea{
	width:450px;
	height: 200px;
	font:20px sans-serif;
}
fieldset{
	border:none;
	padding:0 0 20px 0;
	margin-bottom:0%;
	font:20px sans-serif;

}
	
.button2{
	border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    width:200px;
	color:white;
	background: #4682B4;
	height: 50px;
	font:20px sans-serif;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	text-align:center;
	margin-left: 125px;

	
}

/* End of Contact Page: By Kamel */
/*######################################################################################################################################*/

/*######################################################################################################################################*/
/* Testimonials Page: By Kamel */

.Box_Back_testi   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.header_testi {
  text-align: center;
  margin-bottom: 30px;
}
.header_testi h2  {
  font-size: 30px;
  font-weight: 300;
  color: #00008B;
}

/* testimonial boxes */
.boxes_testi   {
  display: inline-block;
  width: 33%;
  padding: 20px 30px;
}
.cont_testi   {
  background: #E6E6FA;
  margin-top: 0px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 15px;
  height: 200px;
  display:block;
  overflow-y:scroll;
  font-style: oblique;
  font-family: Helvetica,sans-cherif;
  line-height: 20px;
}


.auth_testi h4   {
  font-size: 16px;
  margin: 0;
  padding-top:15px;
}
.auth_testi h3 {
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
}

/*---By Kamel: Stacking vertcally the three boxes when they do no longer fit horizontally when screen getting smaller*/
/*--- https://www.w3schools.com/css/css_rwd_mediaqueries.asp ---*/
@media only screen and (max-width: 968px) {

  [class*="boxes_testi"] {

     width: 100%;

  }

}
/*------------------------------------*/

/* End of Testimonials Page: By Kamel */
/*######################################################################################################################################*/

/*######################################################################################################################################*/
/* Format the Service and team member pages in two columns left side for images and right column for text. 
I got the idea from the following website: https://www.sphericalgrape.com/gis-services.html 
Code ~Fariba*/
.contain {
 text-align: left;
 margin: auto;
 max-width: 70%;
 padding: 25px;
 }
/* Two unequal columns in a line */
.clm {
  padding: 50px 2px;
  overflow:hidden;
  
 }
/* column to set the paragraph*/
.clmtext {
  float: right;
  text-align: justify;
  max-width: 60%;
}
/* Formatting the images */
.image{
  float: left;
  display: block;
  max-width: 40%;
 }
 /* Formating a line between member block. Code source: */ 
     
hr.line{
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid  #010c35;
  max-width: 40%;  
}
/* Formating the link to remove underline link and different color  */
.active{
  text-decoration:none;
  color: #010c35;
}
/* Formating member title */
p.membertitle{
color: #c00; 
text-transform: uppercase;
}

li.text {
  text-align: left;
  font-size: 14pt;
}
p.member-text {
  text-align: left;
  margin: 0px;
  font-size: 14pt;
}
p.member-date {
  text-align: right;
  font-weight: bold;
  margin: 0px;
}
/* column to set the Team Member paragraph in the left side of page*/
.clmtext-member {
  float: left;
  text-align: justify;
  max-width: 60%;
}
/* Formatting the Team Member images in the right side of page */
.image-member{
  float: right;
  display: block;
  max-width: 40%;
 }

/* End if formating the Service and team member pages by Fariba.-- */
 /*######################################################################################################################################*/

/* ---------- Career & News/Events Pages  By Gowsigan Sritharan---------- */


/* Align title of webpage towards the centre */
div.Car-Title{
  font-size: 25px;
  text-align: center;
  color: #061147
  }

/* Set the color of the "Why work for us?" Title to navy blue */
h2.gow{
  color: #061147;
}

/* Set the careeropportunities text color to black*/
div.CareerOpportunities{
  color: #101113;
}

/*Set a border around the Employee Benefits section */
div.EmployeeBenefits {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  border: 5px double black;
  padding: 5px;
  margin: 25px;
}

/* Forms a border arond the Applicatgion section, to be placed on the right side of webpage */
div.Apply{
  width: 400px;
  border: 5px double black;
  padding: 20px;
  margin: 0px;
}

/* Align title of webpage towards the centre */
div.News-Title{
  font-size: 25px;
  text-align: center;
  color: #061147
}

/* Bold the career title name */
p.Eve{
  font-weight: bold;
}

/* Change color of "Inquiries" title to match general color scheme */
div.Help{
  color: #061147
}

/* Set the text color of Inquiries section to black*/
p.Hlp{
  color: black
}

/* Set a border around this section*/
div.Help {
  width: 300px;
  padding: 3px;
  border: 3px solid black;
  margin: 0px;
}

/* Set a border around the Major GIS Organizations Section*/
div.MajGISOrg{
  width: 245px;
  padding: 3px;
  border: 3px solid black;
  margin: 0px;
}
/* Set text color to black for the Latest News & Releases Section*/
p.Rel{
  color: black
}
/* Set text color to black for the Blogs & Forums Section*/
p.Blg{
  color: black
}
/* Set text color to black for the Major GIS Organizations Section*/
p.MajGIS{
  color: black
}

/* End format of careers & news/events pages. Completed by Gowsigan Sritharan. */
 /*######################################################################################################################################*/



>>>>>> acc4bdb7a179fa74cb7f5ef18e9491d7d3371891
