/*######################################################################################################################################*/
/*Authors: Fariba Tebyanian, Kamel Chehbun, Richard Liu, Gowsigan Sritharan, and Adepoju Faderin */
/*######################################################################################################################################*/
/* Format body of the page */
body{
  background-color: #transparent;
  font-family: "Calibri", Tahoma, Geneva, Verdana, sans-serif;
}
.topbanner {
padding: 20px 50px;
background: #fafbff;
border-bottom: 3px solid #061147;
}
#topname {
 text-align: center;
  float: left;
  overflow: hidden;
}
#weblogo {
 max-size: 550px;
  width: 250px;
  overflow: hidden;
}
/*######################################################################################################################################*/
/* Format the navbar with proper background. It shouldn't get overlapped with the body of the document. */
.topnav {
  overflow: hidden;
  display: inline-block;
  background-color: #0737f4;
  border-bottom: 3px solid #061147;
  padding: 10px 256px 10px 30px;
  
}
/* Locates the menu bar on the left of the page and text will be white. */
.topnav a {
  float: center;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
/* When hovering over menu items*/
.topnav a:hover {
  background-color: #061147;
  color:  #fafbff;
  text-decoration: underline;
}
/* End of formatting navbar */

/* Style the content */
.content {
  padding: 50px;
  height: 500px; 
  text-align: center;
}
/* Style the paragraph */
* {
 box-sizing: border-box; 
}
.prg {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 5px;
  text-indent: 50px;
  background-color: #1e90ff;
}
.list{
  text-indent: 50px;
}

