html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Calibri, sans-serif;
  color: #656565;
}

/* App Header */
/* Sourced and inspired from https://github.com/tmcgee/cmv-widgets */
.appHeader {
  background: url("https://www.cmhc-schl.gc.ca/Content/project/cmhc/img/logo/CMHC_WordMark_EN.svg") repeat-x scroll left top #transparent;
  height: 60px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.appHeader .headerLogo {
  height: calc(100% - 10px);
  left: 15px;
}

.appHeader .headerTitle {
  color: #656565;
  font-size: 16pt;
  font-weight: bold;
  left: 30px;
}

.appHeader .subHeaderTitle {
  color: #CFCFCF;
  font-size: small;
  padding-left: 20px;
}

.appHeader .headerLogo,
.appHeader .headerTitle {
  float: left;
}

/* Sets the order of the flexible */
#mapid {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  order: 1;
}

#titleId { 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size:26vw;
  font-weight: normal;
  font-family: "Arial Unicode MS";
  position: absolute;
  top: 10px;
  width: 50%;
  left: 25%;
  text-align: center;  
  resize: both;
  overflow: auto;
}
#timeSlider{
  width: 60%;
  left: 3750px;
  right: 350px;
   bottom: 200px;
   position: absolute;
}
/*

#main {
      padding: 10px;
      text-align: center;
      position: absolute;
      right: 250px;
      bottom: 50px;
      width:100px;
      }
    #logo {
      padding: 25px;
       }
 #titleText {
      padding: 10px;
   font-family: "Tahoma";   
   font-weight: normal;
      text-align: center;
      font-size: 12px;
    }
/* esri overrides */
      .esri-widget {
        border: 1px solid 4f4944;
      }
//.esri-ui-corner .esri-component.esri-widget--panel { width: 120px; }
 .esri-legend__service {
    padding: 0;
    padding-top: 4px;
    }
 //.esri-time-slider__layout--wide .esri-time-slider__time-extent,
// .esri-time-slider__layout--compact .esri-time-slider__time-extent,
// .esri-time-slider__layout--wide .esri-time-slider__min,
// .esri-time-slider__layout--wide .esri-time-slider__max,
// .esri-time-slider__layout--compact .esri-time-slider__min-date,
// .esri-time-slider__layout--compact .esri-time-slider__max-date,
// .esri-legend__layer-caption {  display: none;  }

/* Footer meant to emulate CMHC website: https://www.cmhc-schl.gc.ca/ */
#Canada_logo img {
    float: right;
    width: 120px;
    vertical-align: top;
    margin-right: 40px;
    
.footer-bottom {
    border-top: 1px solid #606060;
    padding: 25px 0;
    margin-top: 35px;
    font-size: 0.95em;
    line-height: 2em;
}

