/* 
-------------------------------------------------------------------------------------------------------
Colaborative Project 2020 - June 2020
-------------------------------------------------------------------------------------------------------

*/

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Calibri', sans-serif;
  color: #656565;
}

/* App Header */
/* Sourced and inspired from https://github.com/tmcgee/cmv-widgets */
.appHeader {
  background: url("https://www.cmhc-schl.gc.ca/Content/project/cmhc/img/logo/CMHC_WordMark_EN.svg") repeat-x scroll left top #transparent;
  height: 60px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.appHeader .headerLogo {
  height: calc(100% - 10px);
  left: 155px;
}

.appHeader .headerTitle {
  color: #656565;
  font-size: 16pt;
  font-weight: bold;
  left: 30px;
}

.appHeader .subHeaderTitle {
  color: #CFCFCF;
  font-size: small;
  padding-left: 50px;
}

.appHeader .headerLogo,
.appHeader .headerTitle {
  float: left;
}

/* Sets the order of the flexible */
#mapid {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  order: 1;
}


#titleId { 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 1.5vw; 
  font-weight: normal;
  font-family: "Arial Unicode MS";
  position: absolute;
  top: 10px;
  width: 50%;
  left: 25%;
  rightt: 25%;
  text-align: center;   
}



