html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Sets the order of the flexible */
#mapid {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  order: 1;
}

#titleId { 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 26px;
  font-weight: normal;
  font-family: "Arial Unicode MS";
  position: absolute;
  top: 10px;
  width: 50%;
  left: 25%;
  text-align: center;   
}
#timeSlider{
  width: 60%;
  left: 50px;
  right: 50px;
  bottom: 20px;
   position: center;
}
#chTitle {
        height: 400px;
        padding: 10px;
        width: 800px;
         }
      
#main {
      padding: 10px;
      text-align: center;
      position: absolute;
      right: 250px;
      bottom: 150px;
      width:100px;
      }
    #logo {
      padding: 25px;
       }
 #titleText {
      padding: 10px;
   font-family: "Tahoma";   
   font-weight: normal;
      text-align: center;
      font-size: 12px;
    }
/* esri overrides */
      .esri-widget {
        border: 1px solid 4f4944;
      }
.esri-widget__heading {
  color: $heading_color; // #323232;
  font-weight: $font-weight__heading; // 600;
  margin: 0 0 0.5rem 0;
}
