html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Sets the order of the flexible */
#mapid {
  height: 100%;
  width: 100%;
  
}

#titlDiv {
        font-weight: 300;
        font-style: normal;
        font-size: 22px;
        padding: 10px;
      }
